@import "src/@fuse/scss/fuse";

:host {
    ::ng-deep .import-data-button {
        background-color: #7DA863 !important;
        color: #fff !important;
        width: 130px !important;
        height: 40px !important;
        font-size: 14px;
    }

    ::ng-deep .btn-submit {
        background-color: #7DA863 !important;
        color: white !important;
        width: 100px !important;
        height: 40px !important;
        font-size: 14px;
    }
}

.import-data-container {
    width: 100%;
    height: 100%;
    margin: 40px 30px 20px;

    .import-data {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        height: auto;

        .import-data-file {
            display: flex;
            align-items: center;
    
            .import-data-title {
                font-size: var(--header-page);
                color: var(--text-color);
                width: 100px;
            }
    
            input {
                display: none;
            }
    
            .import-data-file-name {
                margin-left: 20px;
            }
        }

        .col-right {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            .submit-id {
                display: flex;
                align-items: center;
                flex-direction: row;

                p {
                    font-size: var(--header-page);
                    color: var(--text-color);
                    width: 300px;
                }


                input {
                    height: 40px;
                    border: 1px solid #707070;
                    border-radius: 6px;
                    width: 200px;
                    margin-right: 20px;
                }
            }
        }
    }

    .error-message {
        width: 100%;
        display: flex;
        margin-left: 300px;
    }

    .error-record-table {
        margin: 20px 20px 0 20px;
        height: 100%;
        background-color: white;
        padding: 20px !important;

        .error-record-title {
            font-size: var(--header-page);
            color: var(--text-color);
            margin: 10px 0 20px 0;
        }

        .ag-theme-balham {
            font-size: var(--ag-grid-text);
            width: 100%;

            .ag-cell-focus {
                border: none !important;
                outline: none !important;
            }

        }

        .error-record-all {
            .ag-header {
                height: 90px !important;
                font-size: var(--ag-grid-text);
                color: black;
                padding: 5px 0px;
                display: flex;
                vertical-align: middle;
                min-height: 0 !important;
            }

            .ag-row {
                height: 50px !important;
            }
        }
    }
}