
@import "src/@fuse/scss/fuse";

:host {
    ::ng-deep .ui-dropdown{
        width: 80%;
        height: 40px;
        border: 1px solid #707070;
        border-radius: 6px;
    }
    ::ng-deep .ui-corner-top{
        background-color: #707070;
    }
    ::ng-deep .ui-inputgroup-addon{
        height: 40px;
    }
    ::ng-deep .ui-inputgroup{
        width: 80%;
    }
    ::ng-deep .ui-inputtext{
        border: none;
    }
    ::ng-deep .ui-dropdown-trigger{
      border-right: 0;
      border-top: 0;
      border-bottom: 0;
      cursor: pointer;
      width: 1.5em;
      height: 90%;
      position: absolute;
      right: 2%;
      top: 5%;
    }
    ::ng-deep .ui-dropdown-label{
      margin-top: 2px;
      width: 100%;
    }
    ::ng-deep .ui-dropdown .ui-dropdown-label {
      color: var(--text-color);
      text-overflow: ellipsis;
    }
}
.container-create-translation{
    height: auto;
    width: 100%;
    background-color: #F5F5F5;
    margin: 0px auto;
    // margin-bottom: 20px;
    .title-create-translation{
        margin-bottom:20px;
        height: 80px;
        div{
            padding-top: 20px;
            span{
              color: var(--text-color);
                font-size: var(--back-label);
            }
        }
        p{
          padding-left: 40px;
          font-size: var(--header-page);
          font-weight: 600;
          margin-top: 0px;
          color: var(--text-color);
        }
    }
    .create-translation-description{
        padding: 5px;
        .cart{
            padding: 32px 32px 32px 32px;
            width: 100%;
            background-color: white;
            min-height: 200px;
            color: var(--text-color);
            box-shadow: 0px 2px 8px #00000029;
            input{
                width: 100%;
                border: 0.5px solid #707070;
                border-radius: 6px;
                margin-bottom: 10px;
                height: 40px;
                font-size: var(--input-text);
            }
            p {
              font-size: var(--label-input);
              font-weight: 600;
            }
            .error-message{
              margin-bottom: 10px;
              margin-left: 15px;
            }
            .text-area{
                width: 100%;
                height: 220px;
                border-radius: 5px;
                border: 1px solid #ccc;
                box-shadow: 1px 1px 1px #999;
                letter-spacing: 1px;
                padding: 10px;
                margin-bottom: 10px;
                font-size: var(--input-text);
            }
        }
    }

    .translation-selected{
        padding: 5px;
        .content{
            padding: 32px;
            width: 100%;
            background-color: white;
            box-shadow: 0px 2px 8px #00000029;
            p{
                color: #5A616F;
                font-size: var(--input-text);
            }
            mat-checkbox{
                font-size: 14px;
            }

        }
    }

    .btn-button-category{
        background-color: white;
        position: sticky;
        display: flex;
        bottom: 0;
        width: 100%;
        height: 64px;
        padding: 10px 32px;
        text-align: center;
        border-top: solid 1px #707070;
        button{
            width: 130px;
            height: 40px;
            border-radius: 5px;
            text-align: center;
        }
        .btn-back{
            // background-color: red;
            button{
                border: solid 1px #7DA863;
                color: #7DA863;
            }
        }
        .btn-save{
            // background-color: green;
            button{
                background-color: #7DA863;
                color: white;
            }
            .btn-disabled{
                background-color: grey;
                pointer-events: none;
            }
        }

    }
}
@import '~bootstrap/dist/css/bootstrap.min.css';
