@import "src/@fuse/scss/fuse";

.customers {
  height: 100%;
  width: 100%;
  background-color: #f5f5f5;

  .title {
    margin-bottom: 20px;
    height: 80px;
    display: flex;

    p {
      padding-left: 30px;
      padding-top: 40px;
      font-size: var(--header-page);
      font-weight: 600;
      margin-top: 0px;
      color: var(--text-color);
    }
  }

  .body {
    margin: 10px 20px;
    height: 100%;
    background-color: white;
    padding: 20px !important;

    .ag-theme-balham {
      font-size: var(--ag-grid-text);
      width: 100%;

      .ag-cell-focus{
          border: none !important;
          outline: none !important;
      }

    }
  }
}
