<div class="redemption-monitory-container">
    <div class="title">
        <p>Redemption Tracker</p>
    </div>

    <div class="body">
        <ag-grid-angular class="ag-theme-balham redemption-monitory-all" [rowData]="redemptionArray"
            [paginationAutoPageSize]=false [columnDefs]="columnDefs" floatingFilter=true [defaultColDef]="defaultColDef"
            (gridReady)="onGridReady($event)" (gridSizeChanged)="onGridSizeChanged($event)"
            [overlayLoadingTemplate]="loadingTemplate" [overlayNoRowsTemplate]="emptyTemplate"
            [gridOptions]="gridOptions" [infiniteInitialRowCount]="infiniteInitialRowCount" [modules]="modules">
        </ag-grid-angular>
    </div>

</div>