<div class="container-inventory">
  <div class="title-inventory">
      <p>Inventory</p>
      <button mat-raised-button (click)="gotoCreate()">Create Stock Card</button>
  </div>
    <mat-tab-group md-stretch-tabs class="tabs" [(selectedIndex)]="selectedIndex">
        <mat-tab>

            <ng-template mat-tab-label>Low Stock</ng-template>
            <div class="inventory-table">
                <ag-grid-angular style="width: 100%; height: 420px"
                    class="ag-theme-balham product-all"
                    [rowData]="products_low"
                    [columnDefs]="columnDefs"
                    [gridOptions]="gridOptions"
                    floatingFilter=true
                    rowSelection="multiple"
                    (rowDoubleClicked)='onViewProduct($event)'
                    [singleClickEdit]=true
                    [paginationAutoPageSize]=true
                    [defaultColDef]="defaultColDef"
                    (gridReady)="onGridReady($event)"
                    (gridSizeChanged)="onGridSizeChanged($event)"
                    [overlayLoadingTemplate]="loadingTemplate"
                    [overlayNoRowsTemplate]="emptyTemplate"
                    [modules]="modules">
                </ag-grid-angular>
            </div>

        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>All</ng-template>
            <div class="inventory-table">
                <ag-grid-angular style="width: 100%; height: 420px" class="ag-theme-balham product-all" [rowData]="products"
                    [columnDefs]="columnDefs" [gridOptions]="gridOptions" floatingFilter=true rowSelection="multiple"
                    (rowDoubleClicked)='onViewProduct($event)' [singleClickEdit]=true [paginationAutoPageSize]=true
                    [defaultColDef]="defaultColDef" (gridReady)="onGridReady($event)" (gridSizeChanged)="onGridSizeChanged($event)"
                    [overlayLoadingTemplate]="loadingTemplate"
                    [overlayNoRowsTemplate]="emptyTemplate"
                    [modules]="modules">
                </ag-grid-angular>
            </div>

        </mat-tab>


    </mat-tab-group>


</div>
