<div class="container">
  <div class="order">
    <div class="text">
      <div class="link-icons" *ngIf="fullOrder !== undefined">
        <mat-icon (click)="back()">chevron_left</mat-icon>
        <a href="javascript:void(0);">Order #{{fullOrder.orderIdTmm}}</a>
        <div class="orderAt">
          <p>Ordered at {{orderAt| date :'dd/MM/yyyy HH:mm'}}</p>
        </div>
      </div>
    </div>
    <div class="name-page">
      <mat-card class="name">
        <p>{{namePage}}</p>
      </mat-card>
    </div>
    <button mat-raised-button (click)= 'downloadInvoice()' onclick="document.title = 'Thermomix-Invoice'"
      class="create-invoice-button" aria-label="View" type="button">
      Create Invoice
    </button>
    <div class="lock">
      <mat-slide-toggle [checked]="checkedLock" (change)="checkLockOrder($event)" color="warn">{{lockOrderTitle}}</mat-slide-toggle>
      <p *ngIf="checkedLock">By {{lockBy}} - at {{lockTime | date: "hh:mm"}}</p>
    </div>
  </div>
  <div class="detail" *ngIf="fullOrder !== undefined">
    <!-- left -->
    <div class="left">
      <div class="product">
        <div class="list-product">
          <app-order-list-product (notifyGrandParent)="grandmaHandleClick($event)" [listProduct]="InitArrayProduct">
          </app-order-list-product>
        </div>

        <div  [ngStyle]="{'padding-bottom': fullOrder.shipping.shippingMethod === 'BY_COURRIER' ? '20px' : '0px'}">
          <button mat-raised-button class="btn-cancel" type="button" (click)="cancelOrder()"
          [ngStyle]="{'margin-bottom': fullOrder.shipping.shippingMethod === 'SELF_COLLECT' ? '-38px' : '0px'}">Cancel Order</button>
        </div>

        <div *ngIf="isShippingAgentSelected">
          <app-shipping-status [shippingAgent]="shippingAgent"
            [shipmentId]="this.fullOrder.shipping.shipmentId"
            [rowData]="shippingStatusTableData">
          </app-shipping-status>
        </div>
        <!-- <div *ngIf="isShippingAgentSelected" class="shipping-statuses">
          <div id="table">
            <h3>Master Shipment ID: {{this.fullOrder.shipping.shipmentId}}</h3>
            <ag-grid-angular style="width: 97%; height: 250px;" class="ag-theme-balham"
              [rowData]="shippingStatusTableData" [columnDefs]="columnDefs" (gridReady)="onGridReady($event)"
              (gridSizeChanged)="onGridSizeChanged($event)" [gridOptions]="gridOptions">
            </ag-grid-angular>
          </div>
        </div> -->
      </div>
      <div class="shipping-action" [style.margin-top] = "!isShippingSelfCollect ? '10px':'0px'">

        <div class="shipping-action-title" *ngIf="!isShippingSelfCollect">
          <p >Shipping information</p>
          <hr>
        </div>
        <div class="shipping-action-radio" *ngIf="!isShippingSelfCollect">
          <mat-radio-group (change)="onChange($event)">
            <mat-radio-button [checked]="is_shipping_agent" class="radio-value" value="1">Select Shipping Agent</mat-radio-button>
            <mat-radio-button [checked]="!is_shipping_agent" class="radio-value" value="2" [disabled]='isShippingAgentSelected'>Do Manual Shipping</mat-radio-button>
          </mat-radio-group>
        </div>
        <div >
          <app-button-shipping
          [orderId]="order_id"
          [productList]="listProduct"
          [isShippingSelfCollect]="isShippingSelfCollect"
          [isShippingAgentSelected]="isShippingAgentSelected"
          [shippingLabels]="shippingLabels"
          (shippingAgentSelected)="onShippingAgentSelected()"
          [customer_id]="fullOrder.customerId"
          [advisor_customer_id]="fullOrder.advisorCustomer"
          [product_number_serial]="number_serial"
          [customerData]="customerData"
          [deliveryAddress]="deliveryAddress"
          [trackingData]="trackingData"
          [checkLabelQxpress]="checkLabelQxpress"
          [dataProduct]="dataProduct"
          (downloadLabel)="downloadLabel($event)"
          [fullOrder] = "fullOrder"
          [checkLock] = "checkLock"
          [is_agent_shipping] = "is_shipping_agent"
          [isShowMaskAsShipped]='isShowMaskAsShipped'
          >
          </app-button-shipping>
        </div>
        <!-- <div class="manual_shipping" *ngIf="!is_shipping_agent" >
          <div class="container">
              <p>Notes for Manual Shipping</p>
              <textarea placeholder = "Enter notes"></textarea>
          </div>
        </div> -->
      </div>
      <div class="timeline">
        <div class="header">
          <p>Timeline</p>
          <hr>
        </div>
        <app-timeline [histories]="fullOrder.history" [customerName]="this.customerName"></app-timeline>
      </div>
    </div>
    <!-- right -->
    <div class="right">
      <div class="payment-info">
        <div class="header">Payment Information</div>
        <div class="full-payment-detail">
          <div class="AAA">
            <p id="left">Shipping:</p>
            <p id="right">{{fullOrder.shippingFee| currency:" "}}</p>
          </div>
          <div class="BBB">
            <p id="left">Subtotal:</p>
            <p id="right">{{fullOrder.subtotal| currency:" "}}</p>
          </div>
          <div class="BBB">
            <p id="left">Tax:</p>
            <p id="right">{{fullOrder.tax| currency:" "}} </p>
          </div>
          <div class="CCC">
            <p id="left">Total:</p>
            <p id="right">{{fullOrder.totalAmount | currency:currency+" "}}</p>
          </div>
        </div>
      </div>

      <div class="payment-method">
        <div class="inside">
          <div id="header">Payment Method</div>
          <div id="method" *ngIf='methodPaymentList.length === 0'>Unpaid</div>
          <div id="method" *ngIf='methodPaymentList.length != 0'>
            <div *ngFor="let method of methodPaymentList">
              <p style="margin-top: 3px; margin-bottom: 0px;">{{method}} <span *ngIf="isRecurringPayment"> (Recurring Payment) </span></p>
            </div>
          </div>
        </div>
      </div>

      <div class="shipping-method" [style]="style_shipping_location">
        <div class="inside">
          <div id="header">Shipping Method</div>

          <!-- Change Shipping MY -->
          <div class="change-shipping-my" *ngIf="nation_code === 'MY'">

            <div *ngIf="fullOrder.shipping.shippingMethod === 'SELF_COLLECT'">
              <div id="method">By Self Collect</div>
            </div>

            <div *ngIf="fullOrder.shipping.shippingMethod === 'BY_COURRIER' && !fullOrder.shipping.isManualShipping">
              <div id="method">By Courier</div>
            </div>

            <div *ngIf="fullOrder.shipping.shippingMethod === 'BY_COURRIER' && fullOrder.shipping.isManualShipping">
              <div id="method">By Thermomix</div>
            </div>

            <p (click)="showChangeShippingForm()">Change</p>
          </div>

          <!-- From change Shipping MY-->
          <div *ngIf="nation_code === 'MY'">
            <div class="shipping-form-my" *ngIf="isShowShipping">
              <p-dropdown [options]="shippingMethodArr" optionLabel="label"
              [ngModel]='shippingMethod' (onChange)="onChangeShipping($event)"></p-dropdown>

              <button (click)="changeShipping()">Save Change</button>
            </div>
          </div>

          <!-- Change Shipping SG -->
          <div class="change-shipping-sg" *ngIf="nation_code === 'SG'">
            <div class="shipping-method">
              <div *ngIf="fullOrder.shipping.shippingMethod === 'SELF_COLLECT'">
                <div id="method">By Self Collect</div>
              </div>

              <div *ngIf="checkShowShipByCourier()">
                <div id="method">By Courier</div>
              </div>

              <div *ngIf="checkShowShipByThermomix()">
                <div id="method">By Thermomix</div>
              </div>

              <div *ngIf="specificDateTimeForm.get('deliverMethod').value.value === 3">
                <div id="method">By Qxpress</div>
              </div>

              <p (click)="showChangeShippingForm()">Change</p>
            </div>

            <div *ngIf="!isShowShipping && shippingData.sdId != null">
              <p class="delivery-text">Delivery Type:<span style="padding-left: 10px;">{{deliveryTypeText}}</span></p>

              <div class="dedicated-form">
                <p>Dedicated Date</p>
                <p class="text-input">{{shippingData.specialDelivery.select_date}}</p>
              </div>

              <div class="dedicated-form" style="margin-top: -10px;" *ngIf="specificDateTimeForm.get('deliverType').value.value != 1">
                <p>Dedicated Time</p>
                <p class="text-input">{{shippingData.specialDelivery.select_time}}</p>
              </div>
            </div>
          </div>

          <!-- From change Shipping SG -->
          <div *ngIf="nation_code === 'SG'">
            <div class="shipping-form-sg" *ngIf="isShowShipping" [formGroup]='specificDateTimeForm'>
              <p style="margin-top: 0px;">Delivery type:</p>

              <p-dropdown [options]="deliveryTypeArr" optionLabel="label" formControlName='deliverType'
              (onChange)="onChangeDeliveryType($event)" placeholder="Select Delivery Type"></p-dropdown>

              <p>Deliver by:</p>
              <p-dropdown [options]="deliverByFilter" optionLabel="label" formControlName='deliverMethod'
              (onChange)="onChangeDeliveryBy()" placeholder="Select Delivery By"></p-dropdown>
              <mat-error class="error-message" style="margin-left: 5px; display: block;"
              *ngIf="specificDateTimeForm.controls.deliverMethod.hasError('required') && isShowShippingError">
              Deliver By is required
              </mat-error>

              <div *ngIf="!isCheckDeliveryType">
                <div class="dedicated-form">
                  <p>Dedicated Date</p>
                  <p-calendar *ngIf="specificDateTimeForm.get('deliverType').value.value === 1" dateFormat="DD, dd/mm/yy" appendTo="body"
                  [minDate]='maxDateShip' (onSelect)="onChangeDate($event)" placeholder='Select Day' [showOtherMonths]="false"
                  [readonlyInput]="true" [showIcon]='true' [disabledDays]='[0,1]' [disabledDates]='publicHolidayArr'
                  formControlName='specificDate' (onMonthChange)='onYearChange($event)'></p-calendar>

                  <p-calendar *ngIf="specificDateTimeForm.get('deliverType').value.value === 2
                  && (specificDateTimeForm.get('deliverMethod').value.value === 2 || specificDateTimeForm.get('deliverMethod').value == '')" dateFormat="DD, dd/mm/yy" appendTo="body"
                   [minDate]='maxDateShip' (onSelect)="onChangeDate($event)" placeholder='Select Day' [showOtherMonths]="false"
                  [readonlyInput]="true" [showIcon]='true' [disabledDays]='[0]' [disabledDates]='publicHolidayArr'
                  formControlName='specificDate' [maxDate]='maxDateShipMAX' (onMonthChange)='onYearChange($event)'></p-calendar>

                  <p-calendar *ngIf="specificDateTimeForm.get('deliverType').value.value === 2
                  && specificDateTimeForm.get('deliverMethod').value.value === 3" dateFormat="DD, dd/mm/yy" appendTo="body"
                  [minDate]='maxDateShip' (onSelect)="onChangeDate($event)" placeholder='Select Day' [showOtherMonths]="false"
                 [readonlyInput]="true" [showIcon]='true' [disabledDays]='[0, 6]' [disabledDates]='publicHolidayArr'
                 formControlName='specificDate' [maxDate]='maxDateShipMAX' (onMonthChange)='onYearChange($event)'></p-calendar>
                </div>
                <mat-error class="error-message" style="margin-left: 5px; display: block;"
                *ngIf="specificDateTimeForm.controls.specificDate.hasError('required') && isShowShippingError">
                Date is required
                </mat-error>

                <div class="dedicated-form" *ngIf="!isShowTime">
                  <p>Dedicated Time</p>
                  <p-dropdown [options]="timeOption" optionLabel="{{specificDateTimeForm.get('deliverMethod').value.data === 'BY_QXPRESS' ? 'DEL_TIME_SLOT' : 'time_slot'}}"
                  formControlName='specificTime' (onChange)="onChangeShipping($event)" placeholder='Select Time'></p-dropdown>
                </div>
                <mat-error class="error-message" style="margin-left: 5px; display: block;"
                *ngIf="specificDateTimeForm.controls.specificTime.hasError('required') && isShowShippingError">
                Time is required
                </mat-error>
              </div>

              <button class="btn-change-ship" (click)="saveShippingSpecial()">Save Change</button>
            </div>
          </div>

          <!-- <div id="method" *ngIf="!shipping_method">By Courier</div> -->
          <div id="note" *ngIf="fullOrder.shipping.customerNotes">Note: {{fullOrder.shipping.customerNotes}}</div>
          <div id="note"  *ngIf="fullOrder.shipping.shipping_location_name && nation_code === 'SG'">Shipping Location: {{fullOrder.shipping.shipping_location_name}}  </div>

          <div class="change-shipping-my" *ngIf="nation_code === 'MY' && fullOrder.shipping.shipping_location_name">
            <div id="note" >Shipping Location: {{fullOrder.shipping.shipping_location_name}}  </div>
            <p (click)="showChangeLocationMYForm()">Change</p>
          </div>

           <!-- From change Shipping Location for MY-->
           <div *ngIf="nation_code === 'MY'">
            <div class="shipping-form-my" *ngIf="isShowLocationMY">
              <p-dropdown [options]="shippingLocationMYArr" optionLabel="name"
              [ngModel]='shippingLocationMY' (onChange)="onChangeShippingLocationMY($event)"></p-dropdown>

              <button (click)="changeLocationMY()">Save Change</button>
            </div>
          </div>
        </div>
      </div>

      <!-- check lại css nhé -->
      <div class="delivery-address">
        <div class="infos">
          <p class="header">
            <b>Delivery Address</b>
            <span [ngClass]="(fullOrder.checkOrderLock && checkLock == 2)? 'disable' : 'action'"
            *ngIf="!isShippingSelfCollect"
            (click)="EditDeliveryAddress()">{{editOrClose}}</span>
          </p>
          <!-- <p id="p">{{ fullOrder.deliveryAddress.firstName + " " + fullOrder.deliveryAddress.lastName }}</p>
          <p id="p">{{ displayAddress }}</p>
          <p id="p">{{ displayStateCountry }}</p> -->
        </div>

        <div *ngIf="!isOpenEditDeliveryAddressForm">
          <div class="infos">
            <p id="p">{{ fullOrder.deliveryAddress.firstName + " " + fullOrder.deliveryAddress.lastName }}</p>
            <p id="p">{{ displayAddress }}</p>
            <p id="p">{{ displayStateCountry }}</p>
          </div>
          <div class="messages">
            <mat-icon svgIcon="messages-order" id="icons"></mat-icon>
            <mat-card id="card"><p>{{ fullOrder.deliveryAddress.email }}</p></mat-card>
          </div>
          <div class="phone">
            <mat-icon svgIcon="phone-order" id="icons"></mat-icon>
            <mat-card id="card">
              <p> <span *ngIf="fullOrder.deliveryAddress?.phoneDialCode">(+</span>{{ fullOrder.deliveryAddress.phoneDialCode }} <span *ngIf="fullOrder.deliveryAddress?.phoneDialCode">)</span> {{fullOrder.deliveryAddress.phoneNumber}}</p> </mat-card>
          </div>
        </div>


        <div *ngIf="isOpenEditDeliveryAddressForm">
          <div class="form-edit-address">

            <form novalidate  [formGroup]="deliveryAddressEditForm" (ngSubmit)="onEditDeliveryAddress()">
              <div >
                <div class="customer-information" >
                  <p class="title-edit-customer-info"><b>Edit Address</b></p>
                  <div class="form-group-2">
                    <!-- <p>First name:</p> -->
                    <input class="form-control input-custom" placeholder="First Name"
                      formControlName="firstName">
                    <mat-error class="error-message" *ngIf="deliveryAddressEditForm.get('firstName').hasError('required') && isShowErrorEditDeliveryAddress">
                      First name is required.
                    </mat-error>
                  </div>

                  <div class="form-group-2">
                    <!-- <p>Last name:</p> -->
                    <input class="form-control input-custom" placeholder="Last Name"
                      formControlName="lastName">
                  </div>

                  <div class="form-group-2">
                    <!-- <p>Email:</p> -->
                    <input class="form-control input-custom" placeholder="Email"
                      formControlName="emailAddress">

                    <mat-error class="error-message" *ngIf="deliveryAddressEditForm.get('emailAddress').hasError('required') && isShowErrorEditDeliveryAddress">
                      Email is required.
                    </mat-error>

                    <mat-error class="error-message" *ngIf="!deliveryAddressEditForm.get('emailAddress').hasError('required') && isShowErrorEditDeliveryAddress &&
                    deliveryAddressEditForm.controls.emailAddress.errors?.pattern">
                    Please enter a valid email address.
                    </mat-error>
                  </div>

                  <div class="phone">
                    <div class="phone-dial-code">
                      <div >
                        <app-dialCode class="select-custom"  [SelectedDial]="deliveryDialCode">
                        </app-dialCode>
                      </div>
                    </div>
                    <!-- <p>Email:</p> -->
                    <input class="form-control input-custom" placeholder="Phone Number"
                      formControlName="phoneNumber" maxlength="12">
                  </div>
                  <div style="margin-top: -15px;">
                    <mat-error class="error-message" *ngIf="deliveryAddressEditForm.get('phoneNumber').hasError('required') && isShowErrorEditDeliveryAddress">
                      Phone number is required.
                    </mat-error>
                  </div>

                  <mat-error class="error-message" *ngIf="!deliveryAddressEditForm.get('phoneNumber').hasError('required')
                  && deliveryAddressEditForm.get('phoneNumber').hasError('phone_number')
                  && (deliveryAddressEditForm.get('phoneNumber').dirty || deliveryAddressEditForm.get('phoneNumber').touched)">
                  Invalid phone number
                  </mat-error>


                  <div class="form-group-2">
                    <!-- <p>Address Line 1:</p> -->
                    <input class="form-control input-custom" placeholder="Address Line 1"
                      formControlName="addressLine1">
                    <mat-error class="error-message" *ngIf="deliveryAddressEditForm.get('addressLine1').hasError('required') && isShowErrorEditDeliveryAddress">
                      Address Line 1 is required.
                    </mat-error>
                    <mat-error class="error-message" *ngIf="deliveryAddressEditForm.get('addressLine1').hasError('maxlength') && isShowErrorEditDeliveryAddress">
                      Line length must be less than 40 characters.
                    </mat-error>
                  </div>

                  <div class="form-group-2">
                    <!-- <p>Address Line 2:</p> -->
                    <input class="form-control input-custom" placeholder="Address Line 2"
                      formControlName="addressLine2">
                    <mat-error class="error-message" *ngIf="deliveryAddressEditForm.get('addressLine2').hasError('required') && isShowErrorEditDeliveryAddress">
                      Address Line 2 is required.
                    </mat-error>
                    <mat-error class="error-message" *ngIf="deliveryAddressEditForm.get('addressLine2').hasError('maxlength') && isShowErrorEditDeliveryAddress">
                      Line length must be less than 40 characters.
                    </mat-error>
                  </div>

                  <div class="form-group-2">
                    <input class="form-control input-custom" placeholder="Address Line 3"
                      formControlName="addressLine3">
                      <mat-error class="error-message" *ngIf="deliveryAddressEditForm.get('addressLine3').hasError('maxlength') && isShowErrorEditDeliveryAddress">
                        Line length must be less than 40 characters.
                      </mat-error>
                  </div>

                  <div class="form-group-2">
                    <!-- <p>Address Line 3:</p> -->
                    <input class="form-control input-custom" placeholder="Postal Code"
                      formControlName="postalCode">
                    <mat-error class="error-message" *ngIf="deliveryAddressEditForm.get('postalCode').hasError('required') && isShowErrorEditDeliveryAddress">
                      Postal Code is required.
                    </mat-error>
                  </div>

                  <div class="form-group-2">
                    <mat-form-field appearance="none" [ngStyle]="{'background-color': nation_code =='MY' ? 'white' : 'none' }">
                      <mat-select [disabled]="nation_code =='MY' ? false : true"
                        [(ngModel)]="city_state_code" formControlName="stateCode" placeholder="State Code">
                        <div *ngFor="let state of stateCodeToNameFormOptions | keyvalue:keepOriginalOrder">
                          <mat-option value="{{state.key}}">{{state.value}}
                          </mat-option>
                        </div>
                      </mat-select>
                    </mat-form-field>
                    <mat-error class="error-message" *ngIf="(city_state_code == undefined || deliveryAddressEditForm.get('stateCode').hasError('required')) && nation_code=='MY' && isShowErrorEditDeliveryAddress">
                      State Code is required.
                    </mat-error>
                  </div>

                    <div class="form-group-2">
                      <input [attr.disabled]="true" class="input-custom" [(value)]="countryCode">
                    </div>


                  <div>
                    <button mat-button class="btn-color-custom">Save Change</button>
                  </div>

                </div>
              </div>
            </form>

          </div>
        </div>


      </div>

      <div class="customer-info">
        <div class="inside">
          <div class="header">
            <p id="text-customer">Customer Information</p>
            <p id="text-view" style="cursor: pointer;" (click)="showCustomerInformation()">Change</p>
          </div>
          <div *ngIf="!isShowCustomerInformation" id="method">
            <p style="margin-top: 5px;margin-bottom: 5px;">Full name: {{fullOrder.customerInformation.firstName + " " +fullOrder.customerInformation.lastName}}</p>

            <div class="address-customer" style="width: 310px;">
              <span style="word-break: break-word;">Email: {{fullOrder.customerInformation.email}}</span><br>
            </div>
            <div class="address-customer" style="width: 310px;margin-top: 5px;">
              <span style="word-break: break-word;">Phone number: {{"(+" + fullOrder.customerInformation.phoneDialCode + ") " +fullOrder.customerInformation.phoneNumber}}</span>
            </div>
            <div class="address-customer" style="width: 310px;margin-top: 5px;">
              <span style="word-break: break-word;">Address: {{fullOrder.customerInformation.address_line1 + " " +fullOrder.customerInformation.address_line2 + " " +fullOrder.customerInformation.address_line3 + " " + showStateCountry}}</span>
            </div>
          </div>

          <!-- Customer Information Form -->
          <div class="delivery-address">
            <div *ngIf="isShowCustomerInformation">
              <div class="form-edit-address">

                <form novalidate  [formGroup]="customerInforEditForm" (ngSubmit)="updateCustomerInfor()">
                  <div >
                    <div class="customer-information" >
                      <p class="title-edit-customer-info"><b>Edit Customer Information</b></p>
                      <div class="form-group-2">
                        <p>Full name:</p>
                        <input class="form-control input-custom" placeholder="First Name"
                          formControlName="fullNameInfor">
                      </div>
                      <p>Phone number:</p>
                      <div class="phone">
                        <div class="phone-dial-code">
                          <div >
                            <app-dialCode class="select-custom"  [SelectedDial]="deliveryDialCodeInfor">
                            </app-dialCode>
                          </div>
                        </div>
                        <input class="form-control input-custom" placeholder="Phone Number"
                          formControlName="phoneNumberInfor" maxlength="12">
                      </div>
                      <div style="margin-top: -15px;">
                      </div>

                      <div class="form-group-2">
                        <p>Address Line 1:</p>
                        <input class="form-control input-custom" placeholder="Address Line 1"
                          formControlName="addressLine1Infor">
                      </div>

                      <div class="form-group-2">
                        <p>Address Line 2:</p>
                        <input class="form-control input-custom" placeholder="Address Line 2"
                          formControlName="addressLine2Infor">
                      </div>

                      <div class="form-group-2">
                        <p>Address Line 3:</p>
                        <input class="form-control input-custom" placeholder="Address Line 3"
                          formControlName="addressLine3Infor">
                      </div>

                      <div class="form-group-2">
                        <p>Postal code:</p>
                        <input class="form-control input-custom" placeholder="Postal Code"
                          formControlName="postalCodeInfor">
                      </div>

                        <div class="form-group-2">
                          <p>State:</p>
                          <mat-form-field appearance="none" [ngStyle]="{'background-color': nation_code =='MY' ? 'white' : 'none' }">
                            <mat-select [disabled]="nation_code =='MY' ? false : true"
                              [(ngModel)]="city_state_code_infor" formControlName="stateCodeInfor" placeholder="State Code">
                              <div *ngFor="let state of stateCodeToNameFormOptions | keyvalue:keepOriginalOrder">
                                <mat-option value="{{state.key}}">{{state.value}}
                                </mat-option>
                              </div>
                            </mat-select>
                          </mat-form-field>
                        </div>

                        <div class="form-group-2">
                          <p>Country:</p>
                          <input [attr.disabled]="true" class="input-custom" [(value)]="countryName">
                        </div>
                      <div>
                        <button mat-button class="btn-color-custom">Save Change</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="shipping-info">
        <div class="inside">
          <div id="header">Shipping Information</div>
          <div *ngIf="fullOrder.shipping.shippingMethod === 'SELF_COLLECT'" id="self-collect">
            <div id="method">Delivered by SELF COLLECTION</div>
            <!-- <div id="footer">Collection Date:
              {{fullOrder.shipping.customerSelectedShippingDate | date :'dd/MM/yyyy'}}</div> -->
          </div>
          <div *ngIf="fullOrder.shipping.shippingMethod === 'BY_COURRIER'" id="by-courier">
            <div *ngIf="!isShippingAgentSelected">
              <p id="method">Pending selection of shipping agent.</p>
            </div>
            <div *ngIf="isShippingAgentSelected">
              <p id="method">Delivered by {{fullOrder.shipping.shippingStatus.shippingAgent}}</p>
              <p id="info" *ngIf="fullOrder.shipping.pickupDateTime !== null">Pickup Date & Time:
                {{fullOrder.shipping.pickupDateTime | date: 'EEE, MMM dd yyyy HH:mm:'}}</p>
              <p id="info" *ngIf="fullOrder.shipping.shippingStatus.overallStatus">
                Shipment Status: {{fullOrder.shipping.shippingStatus.overallStatus}}
              </p>
              <p id="footer" *ngIf="fullOrder.shipping.shippingStatus.updatedTime">
                Tracking Updated At: {{fullOrder.shipping.shippingStatus.updatedTime | date: 'EEE, MMM dd yyyy HH:mm'}}
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="advisor" *ngIf="fullOrder.is_need_advisor">

        <div *ngIf="fullOrder.advisorCustomer">
          <div class="inside">
            <div class="infomation">
              <div id="header">Advisor</div>
              <div id="method" *ngIf="fullOrder.advisorCustomer.preferredName">{{fullOrder.advisorCustomer.preferredName}}
                (ID: {{fullOrder.advisorCustomer.advisorIdNumber}})</div>
              <div id="method" *ngIf="!fullOrder.advisorCustomer.preferredName">{{fullOrder.advisorCustomer.firtName}} (ID:
                {{fullOrder.advisorCustomer.advisorIdNumber}})</div>
            </div>
            <img class="img-advisor" src="{{advisorImage}}">
          </div>
          <div class="btn-edit">
            <button class="button-edit" *ngIf="isAssign && fullOrder.is_naep_order == false" style="width: 20%;"
            (click)='showEditAdvisor()'>Edit</button>
          </div>

          <div class="search-advisor" *ngIf="isShowEdit">
            <p style="margin-bottom: 6px;">Advisor ID</p>
            <input class="search-id" [(ngModel)]="advisorId" (ngModelChange)="searchAdvisorId($event)" style="width: 80%;" required numbersOnlyNumber>
            <p style="margin-bottom: 6px;">Advisor Name</p>
            <input class="search-id" disabled style="background-color: #F5F5F5; width: 80%;" value="{{advisorName}}">

            <app-button-loading type="button" style="width: 80%"
            type="submit" class="edit-advisor" [buttonName]="buttonName" [disabledBtn]="advisorName.length === 0"
             [active]="active" (click)="editAdvisor()" >
            </app-button-loading>
          </div>
          <!-- [ngClass]=" advisorName.length == 0 ? 'btn-submit-disabled':'btn-submit' " -->
        </div>

        <div *ngIf="!fullOrder.advisorCustomer && fullOrder.is_naep_order == false" >
          <div class="inside">
            <div class="infomation-assign">
              <div id="header">Advisor</div>
              <p style="color: var(--red-color)"> Not Assigned</p>
              <div id="header">Customer's Remarks: </div>
              <p style="margin: 8px 0px;">Advisor Full Name</p>
              <input class="search-id" disabled style="background-color: #F5F5F5; width: 80%;" [(ngModel)]="remask_advisor_name"   numberOnly>

              <p style="margin: 8px 0px;">Advisor Phone Number</p>
              <input class="search-id" disabled style="background-color: #F5F5F5; width: 80%;" [(ngModel)]="remask_advisor_phone"   numberOnly>

              <p style="margin: 8px 0px;">Advisor ID</p>
              <input class="search-id" disabled style="background-color: #F5F5F5; width: 80%;" [(ngModel)]="remask_advisor_id"   numberOnly>
              <button [disabled]="fullOrder.checkOrderLock && checkLock == 2"
              [ngClass]= "'btn-assign-advisor'"
              (click)='assignAdvisor()'
              *ngIf="advisorName === null || advisorName === undefined || advisorName === '' ">Assign Advisor</button>
            </div>
          </div>



          <div class="search-advisor" *ngIf="isShowSearch">
            <p style="margin-bottom: 6px;">Advisor ID</p>
            <input class="search-id" [(ngModel)]="advisorId" (ngModelChange)="searchAdvisorId($event)" style="width: 80%;" required numbersOnlyNumber>
            <p style="margin-bottom: 6px;">Advisor Name</p>
            <input class="search-id" disabled style="background-color: #F5F5F5; width: 80%;" value="{{advisorName}}">
            <!-- <div class="search-img">
              <img src="{{advisorImg}}" *ngIf="advisorImg !== ''; else elseBlock">
              <ng-template #elseBlock>
                <img src="{{advisorImage}}">
              </ng-template>
            </div> -->
            <app-button-loading type="button" style="width: 80%;"
            type="submit" [buttonName]="buttonName" class="add-advisor" [disabledBtn]="(advisorName.length == 0)" [active]="active"  (click)="addAdvisor()" >
            </app-button-loading>
          </div>
        </div>
      </div>

<!--

      <div class="advisor" *ngIf="fullOrder.advisorCustomer">
        <div class="inside">
          <div id="header">Advisor</div>
          <div id="method" *ngIf="fullOrder.advisorCustomer.preferredName">{{fullOrder.advisorCustomer.preferredName}}
            (ID: {{fullOrder.advisorCustomer.advisorIdNumber}})</div>
          <div id="method" *ngIf="!fullOrder.advisorCustomer.preferredName">{{fullOrder.advisorCustomer.firtName}}
            (ID:
            {{fullOrder.advisorCustomer.advisorIdNumber}})</div>
        </div>

        <img class="img-advisor" src="{{advisorImage}}">
      </div> -->
    </div>
  </div>

  <div style="display: none;" id="printInvoice">
    <app-invoice [orderDetail]='fullOrder'></app-invoice>
  </div>
