
svg:not(:root){
  color: #7DA863 !important;
}


.title{
  font-size: 16px;
  font-weight: 600 !important;
  margin-top: -20px;
  color: #5A616F !important;
}
hr{
  margin-top: -20px;
  background-color: #5A616F !important;
}
.message{
  font-size: 16px;
  color: #5A616F !important;
  display: flex;
  margin-left: 20px;
  .title-message{
    padding-top: 20px;
    margin-right: 25px;
  .detail-message{

    }
  }
}
.pt-option{
  padding-top: 10px !important;
  @media screen and (min-width : 750px){
      width: 60% !important;
      margin: 0 auto;
  }
  .ok-button{
      background-color: #7DA863 !important;
      color: white !important;
      padding: 0px 63px 0px 63px !important;
      border: 1px solid #7DA863;
      border-radius: 6px;
      margin-left: 40px;
  }
  .cancel-button{
      background-color: white !important;
      color: #7DA863 !important;
      padding: 0px 40px 0px 40px !important;
      border: 1px solid #7DA863;
      border-radius: 6px;
      margin-right: 30px;
  }
  .disableButton{
    background-color: grey !important;
    color: white !important;
    padding: 0px 63px 0px 63px !important;
    border: 1px solid grey;
    border-radius: 6px;
    margin-left: 40px;
  }
}
