<div *ngIf="!checkProduct" style="padding: 10px; border-bottom: 0.5px solid #707070;">
  <div class="clear">
    <div id="img-product">
      <img id="" src="{{storageUrl}}{{product.cover_photo_key}}">

    </div>


    <div id="detail-product">
      <div id="name-product">
        <p id="nameProd">{{product.productName}}</p>
        <span id="sku"><span>SKU:</span> {{product.sku}}</span>

        <div *ngIf="product.listedPrice" id="oldPrice">{{product.listedPrice | currency:product.currencyCode+' '}}</div>
        <div *ngIf="product.promotionalPrice" id="newPrice">
          {{product.promotionalPrice | currency:product.currencyCode+' '}}</div>
      </div>

      <div *ngIf="!product.is_kit">
        <div *ngIf="isWarranty">
          <div style="width : 100%; display:inline" *ngIf="product.list_serial_number_shipping.length > 0">
            <p>Serials Number: </p>
            <div *ngFor="let item of product.list_serial_number_shipping, let i = index" >
              <p *ngIf="!item.display" style="width: 60%; display:inline-block" >{{item.value.split(" ")[0]}}</p>

              <input [(ngModel)]="product.list_serial_number_shipping[i].value" *ngIf="item.display" #event type="text" numbersOnly value="{{item.value.split(' ')[0]}}" required="required">

                <button *ngIf="item.display" class="btn-save" appDebounceClick
                 [debounceTime]="500" (debounceClick)="updateSerialNumber(i, item.id, null)">Save</button>

                <button *ngIf="!item.display" class="btn-save" (click)="editSerial(i, null)">Edit </button>
              <!-- </div> -->
            </div>
          </div>
          <div  *ngFor="let item of arrayInput, let i = index"  [formGroup]="serialForm" >
            <input #event type="text" numbersOnly placeholder="Enter serial number" formControlName="serial_number" required="required"
            (change)="getInput(i,product.id,product.orderLineId,$event,product.warranty_duration_in_days)">

            <button  [disabled]="event.value.length === 0" appDebounceClick [debounceTime]="500" [ngClass]=" event.value.length === 0 ? 'disable':'btn-save' "
            (debounceClick)="saveSerialNumber(i,product.id,product.orderLineId,event,product.warranty_duration_in_days)">Save</button>

          </div>
        </div>
      </div>

      <!-- show product kit -->
      <div *ngIf="product.is_kit">
        <div id="name-product" *ngFor="let kit of product.productKit, let indexKit = index">
          <p id="nameProd">{{kit.name}}</p>
          <p id="sku">SKU: {{kit.sku}}</p>
          <!-- <div *ngIf="kit.promotionalPrice" id="newPrice">
            {{kit.promotionalPrice | currency: kit.currencyCode + ' '}}</div> -->

          <div *ngIf="kit.warranty_duration_in_days != null && kit.warranty_duration_in_days != undefined">
            <div style="width : 100%; display:inline" *ngIf="kit.list_serial_number_shipping.length > 0">
              <p>Serials Number: </p>
              <div *ngFor="let item of kit.list_serial_number_shipping, let i = index" >
                <p *ngIf="!item.display" style="width: 60%; display:inline-block" >{{item.value.split(" ")[0]}}</p>
                <input [(ngModel)]="kit.list_serial_number_shipping[i].value" *ngIf="item.display" #event type="text"
                numbersOnly value="{{item.value.split(' ')[0]}}" required="required">

                  <button *ngIf="item.display" class="btn-save" appDebounceClick
                  [debounceTime]="500" (debounceClick)="updateSerialNumber(i, item.id, indexKit)">Save</button>
                  <button *ngIf="!item.display" class="btn-save" (click)="editSerial(i, indexKit)">Edit </button>
              </div>
            </div>
            <div  *ngFor="let item of kit.arraySerialNumber, let i = index"  [formGroup]="serialForm" >
              <input #event type="text" numbersOnly placeholder="Enter serial number" formControlName="serial_number" required="required"
              (change)="getInput(i,kit.id,kit.orderLineId,$event,kit.warranty_duration_in_days)">

              <button  [disabled]="event.value.length === 0" [ngClass]=" event.value.length === 0 ? 'disable':'btn-save' "
              appDebounceClick [debounceTime]="500" (debounceClick)="saveSerialNumber(i,kit.id,kit.orderLineId,event,kit.warranty_duration_in_days)">Save</button>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="product.is_host_gift">
        <div id="name-product" *ngFor="let gift of product.productGift">
          <p id="nameProd">{{gift.name}}</p>
          <p *ngIf="gift.sku" id="sku">SKU: {{gift.sku}}</p>
<!--
          <div *ngIf="kit.warranty_duration_in_days != null && kit.warranty_duration_in_days != undefined">
            <div style="width : 100%; display:inline" *ngIf="kit.list_serial_number_shipping.length > 0">
              <p>Serials Number: </p>
              <div *ngFor="let item of kit.list_serial_number_shipping, let i = index" >
                <p *ngIf="!item.display" style="width: 60%; display:inline-block" >{{item.value.split(" ")[0]}}</p>
                <input [(ngModel)]="kit.list_serial_number_shipping[i].value" *ngIf="item.display" #event type="text"
                numbersOnly value="{{item.value.split(' ')[0]}}" required="required">

                  <button *ngIf="item.display" class="btn-save" (click)="updateSerialNumber(i, item.id)">Save</button>
                  <button *ngIf="!item.display" class="btn-save" (click)="editSerial(i)">Edit </button>
              </div>
            </div>
            <div  *ngFor="let item of kit.arraySerialNumber, let i = index"  [formGroup]="serialForm" >
              <input #event type="text" numbersOnly placeholder="Enter serial number" formControlName="serial_number" required="required"
              (change)="getInput(i,kit.id,kit.orderLineId,$event,kit.warranty_duration_in_days)">

              <button  [disabled]="event.value.length === 0" [ngClass]=" event.value.length === 0 ? 'disable':'btn-save' "
              (click)="saveSerialNumber(i,kit.id,kit.orderLineId,event,kit.warranty_duration_in_days)">Save</button>
            </div>
          </div> -->
        </div>
      </div>

      <div id="another-detail">
        <!-- <input type="text" class="serialNumber"> -->
        <!-- <p *ngIf="product.language">Language: {{product.language}}</p>
                <p *ngIf="product.properties.id">Advisor ID: {{product.properties.id}}</p>
                <p *ngIf="product.properties.name">Advisor Name: {{product.properties.name}}</p> -->
        <p *ngIf="product.quantity" class="product-quantity"><b>x {{product.quantity}}</b></p>
      </div>
    </div>
  </div>
  <div class="clear">
    <div id="detail-gift">
      <div *ngIf="this.single_full_paymt_gifts">
        <mat-card *ngFor="let gift of this.single_full_paymt_gifts">
          <mat-card-header>
            <mat-card-title class="card-title">
              {{SINGLE_FULL_PAYMENT_GIFT}}
            </mat-card-title>
            <mat-card-subtitle class="card-subtitle">
              {{gift.name}}
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content class="card-content">
            x {{gift.quantity}}
          </mat-card-content>
        </mat-card>
      </div>
      <div *ngIf="this.online_bank_transfer_gifts">
        <mat-card *ngFor="let gift of this.online_bank_transfer_gifts">
          <mat-card-header>
            <mat-card-title class="card-title">
              {{ONLINE_BANK_TRANSFER_PAYMENT_GIFT}}
            </mat-card-title>
            <mat-card-subtitle class="card-subtitle">
              {{gift.name}}
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content class="card-content">
            x {{gift.quantity}}
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
