<div class="container">
  <!-- <div class="text">
    <p>Week Insight</p>
    <div class="notes">
      <div class="shape">

        <div class="src1">
          <img src="assets/icons/doxa-icons/chart1.svg" alt="">
          <div class="name">Reaches</div>
        </div>
        <div class="src2">
          <img src="assets/icons/doxa-icons/chart2.svg" alt="">
          <div class="name">Views</div>
        </div>
      </div>
    </div>

    <div class="calendar">
      <div class="names">From:</div>
      <input class="fixDate" type="text" [disabled]="true" placeholder="{{weekdate|date :'EEEE,dd/MM/yyyy'}}" [(ngModel)]="date">
      <div class="names">To:</div>
      <p-calendar  dateFormat="DD,dd/mm/yy" [showIcon]="true" [maxDate]="maxdate" (onSelect)="onChange($event)" placeholder="{{maxdate|date :'EEEE,dd/MM/yyyy'}}" ></p-calendar>
    </div>
  </div> -->

  <div class="svg">
    <svg width="1100" height="300" id ="svgChart"></svg>
  </div>

</div>

