.button-mark-as-verified-active{

    .verified-button-active{
      background-color: #F5F5F5;
      height: 25px;
      width: 98px  !important;
      color: #5A616F;
    }
  
  }
  
  .button-mark-as-verified{
  
    .verified-button-nonactive{
      background-color: #7DA863;
      height: 25px;
      width: 98px !important;
      // margin-top: -5px !important;
  
    }
  }
  
  