<div id="forgot">


  <div id="forget-left" >
    <img class="img-doxa" src="assets/doxa.png" alt="">
    <mat-carousel class="img"
      timings="250ms ease-in"
      [autoplay]="true"
      interval="5000"
      color="accent"
      maxWidth="auto"
      [maintainAspectRatio]="false"
      slideHeight="100%"
      proportion="25"
      slides="2"
      [loop]="true"
      [hideArrows]="true"
      [hideIndicators]="false"
      [useKeyboard]="true"
      [useMouseWheel]="false"
      orientation="ltr"
    >
      <mat-carousel-slide
        #matCarouselSlide
        *ngFor="let slide of slides; let i = index"
        [image]="slide.image"

      ></mat-carousel-slide>
    </mat-carousel>

  </div>

  <div id="forget-right" fxLayout="column" fxLayoutAlign="center center">
    <div *ngIf="!isValidToken">


    <div class="text-center">

      <img src="assets/DoxaImages/undraw_my_password_d6kg.svg" alt="">
      <p style="margin-top: -10px;text-align: center;">Please enter your email address.
        <br>
        You will receive a link to create a new password via email</p>
    </div>

    <form style="text-align: center;"  class="form" *ngIf="this.forgotForm" (ngSubmit)="onSubmit('forgot')"  [formGroup]="forgotForm" >
      <div class="form-group ">

        <div class="first-example">
              <input type="text" formControlName="email" id="input-form"
              placeholder="Enter email"
              pattern="[a-zA-Z0-9!#$%&'*+/=?^_`{|}~\-.]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$">
              <div *ngIf="submitted" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.pattern">Invalid email</div>
              </div>
        </div>
      </div>

      <div class="btn-center">
        <button class="btn-reset" >Reset Password</button>
        <a (click)="backToLogin()">Cancel</a>
      </div>

    </form>

        <div id="login-top">
          <mat-error class="error-message" *ngIf="isError && f.email.pristine">
               <p style="text-align: center;"> {{message}}</p>
        </mat-error>
          <mat-error class="error-message" *ngIf="isError2 && f.email.pristine">
                 <p style="color: green;text-align: center;">{{message2}}</p>
        </mat-error>

        </div>
  </div>

  <!-- check validate token  -->
  <div  class="renew-password" *ngIf="isValidToken">
    <div id="forgotTitle">
        <h1>Welcome back</h1>
        <p class="forgotText" *ngIf="!isPasswordReset">Please enter your new password</p>
    </div>

    <div *ngIf="!isPasswordReset"   >

    <form style="text-align: center;"  *ngIf="this.resetForm" [formGroup]="resetForm" class="form" (ngSubmit)="onSubmit('reset')"  >
      <div class="form-group ">

        <div class="first-example">
              <p>New Password</p>
              <input type="password" formControlName="newPassword" id="input-form"
              placeholder="Enter password" [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }" >
              <div
              *ngIf="resetForm.get('newPassword').hasError('required') && (resetForm.get('newPassword').dirty || resetForm.get('newPassword').touched)">
              <app-alert>
                  <p>Password is required</p>
              </app-alert>
          </div>
          <div
              *ngIf="resetForm.get('newPassword').hasError('minlength') && (resetForm.get('newPassword').dirty || resetForm.get('newPassword').touched)">
              <app-alert>
                  <p>Password must be longer than or equal to 8 characters</p>
              </app-alert>
          </div>
              <p>Confirm New Password</p>
              <input type="password" formControlName="confirmPassword" id="input-form"
              placeholder="Enter password" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" >
              <div
                *ngIf="resetForm.get('confirmPassword').hasError('required') && (resetForm.get('confirmPassword').dirty || resetForm.get('confirmPassword').touched)">
                <app-alert>
                    <p>Confirm Password is required</p>
                </app-alert>
            </div>
            <div
                *ngIf="resetForm.get('confirmPassword').hasError('mustMatch') && (resetForm.get('newPassword').dirty || resetForm.get('newPassword').touched)">
                <app-alert>
                    <p>Confirm password not match.</p>
                </app-alert>
            </div>
        </div>
      </div>

      <div class="btn-center">
        <button class="btn-reset" >Change Password</button>
        <a style="cursor: default;" (click)="backToLogin()">Cancel</a>
      </div>

    </form>

    </div>

     <!-- check show message succesfully  -->
    <div *ngIf="isPasswordReset">
        <div class="forgotDirection submitResult">
            <p>{{serverResponseMsg}}</p>
        </div>
        <div class="btnback">
            <button mat-button class="btn-back"  style="float: none;" (click)="backToLogin()"
             >Back to Login</button>
        </div>
    </div>
</div>

  </div>


</div>
