
@import "src/@fuse/scss/fuse";

:host {
  ::ng-deep .ui-dropdown{
      width: 80%;
      height: 40px;
      border: 1px solid #707070;
      border-radius: 6px;
  }
  ::ng-deep .ui-dropdown-label{
    margin-top: -5px;
    width: 100%;
  }
  ::ng-deep .ui-dropdown-trigger{
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
    cursor: pointer;
    width: 1.5em;
    height: 90%;
    position: absolute;
    right: 2%;
    top: 5%;
  }
  ::ng-deep .ui-corner-top{
      background-color: #707070;
  }
  ::ng-deep .ui-inputgroup-addon{
      height: 48px;
      border-color: #707070;
      padding : 12px !important
  }
  ::ng-deep .ui-inputgroup{
      width: 80%;
      // padding : 15px !important
  }

  ::ng-deep .ui-inputtext{
      border: none;
  }
  ::ng-deep .ui-dropdown-label-container{
      padding: 8px;
      width: 100%;
  }
  ::ng-deep .ui-multiselect{
      width: 100%;
      height: 40px;
      display: block;
      border: 1px solid #707070;
      border-radius: 6px;

  }
  ::ng-deep .ui-multiselect-label{
      vertical-align: middle;
      // padding: 0px 10px;
      height: 40px;
      width: 100%;
      padding-left: 1em;
      font-size: var(--input-text);
      // margin: 0px;
      margin : -6px 6px;
      line-height: 37px;
      color: #788190;
  }
  ::ng-deep .ui-multiselect-item{
      display: flex !important;
  }
  ::ng-deep .ui-multiselect-trigger{
      border-right: 0;
      border-top: 0;
      border-bottom: 0;
      cursor: pointer;
      width: 1.5em;
      height: 90%;
      position: absolute;
      right: 2%;
      top: 5%;
  }

  ::ng-deep .ui-inputnumber{
    width: 71%;
  }

  ::ng-deep .ui-inputnumber-input{
    height: 40px;
    width: 100%;
    border: 1px solid #707070;
    border-radius: 6px;
    padding-left: 10px;
  }

  ::ng-deep .ui-inputnumber-button{
    background-color: white;
    border: 1px white;
    color: #707070;
  }

  ::ng-deep .ui-inputnumber-button-group{
    height: 36px;
    margin-left: -10%;
    margin-top: 2px;
  }

  ::ng-deep .ui-button:enabled:hover{
    background-color: white;
    border: 1px white;
    color: #707070;
  }

}
.create-naep-process-container{
    height: 100%;
    width: 100%;
    background-color: #F5F5F5;
    // margin: 0px auto;
    // margin-bottom: 20px;
    .title{
        margin-bottom:20px;
        height: 80px;
        display: block;
        div{
          padding-top: 20px;
          span{
              color: var(--text-color);
              font-size: var(--back-label);
          }
        }
        p{
          padding-left: 40px;
          font-size: var(--header-page);
          font-weight: 500;
          margin-top: 0px;
          color: var(--text-color);
        }
    }
    .title-description{
        padding: 5px;
        // height: 300px;
        height: auto;

        .cart{
            padding: 20px 32px 32px 32px;
            width: 100%;
            height: auto;
            background-color: white;
            color: #5A616F;
            box-shadow: 0px 2px 8px #00000029;
          .naep{
            font-size: var(--text-color);
            margin-bottom: 10px;
          }
          mat-divider{
            margin-top: 15px;
          }
          .title-input{
            display: flex;
            input{
              width: 50%;
              border: 1px solid #707070;
              border-radius: 6px;
              margin-bottom: 10px;
              height: 40px;
              font-size: var(--input-text);
            }
            p-multiSelect{
              width: 50%;
              // margin-bottom: 10px;
            }
            p {
                font-size: var(--label-input);
                margin-top: 10px;
                width: 15%;
                margin-right: 2%;
            }

          }

          .number-of-sale{
            margin-top: 15px;
            display: flex;
            p {
              font-size: var(--label-input);
              margin-top: 2px;
              margin-right: 2%;
              width: 15%;
            }
            p-inputNumber{
              width: 70%;
              // border: 1px solid #707070;
              border-radius: 6px;
              margin-bottom: 10px;
              height: 40px;
              font-size: var(--input-text);
            }
          }

          .description-input{
            margin-top: 5px;
            display: flex;

            p {
              font-size: var(--label-input);
              margin-top: 10px;
              margin-right: 2%;
              width: 15%;
            }

            input{
              width: 70%;
              border: 1px solid #707070;
              border-radius: 6px;
              margin-bottom: 10px;
              height: 40px;
              font-size: var(--input-text);
            }

            .list-price {
              display: flex;

              .input-index {
                pointer-events: none;
                text-align: center;
                width: 15%;
                border: 1px solid #707070;
                border-radius: 6px;
                margin-bottom: 10px;
                height: 40px;
                font-size: var(--input-text);
                background-color: #ffffff;
              }

              .input-price {
                display: flex;
                border: 1px solid #707070;
                width: 40%;
                border-radius: 6px;
                margin-bottom: 10px;
                height: 40px;
                font-size: var(--input-text);
                background-color: #ffffff;
                margin-left: 20px;

                .price {
                  padding: 0px;
                  margin: auto;
                  text-align: center;
                  border: none;
                  height: auto;
                  border-radius: 0px;
                }
              }
            }
          }
        }
    }


    .history-available{
        padding: 5px;
        height: 500px;
        overflow-y: scroll;
        .content{
            margin-bottom: 55px;
            padding: 20px;
            width: 100%;
            background-color: white;
            box-shadow: 0px 2px 8px #00000029;
            #header{
                color: #5A616F;
                font-size: 14px;
                font-weight: 600;
            }
            #text{
              color: #5A616F;
              font-size: 12px;

            }
            mat-divider{
              margin-top: -5px;
              height: 5px;
            }
        }
    }

    .btn-button-create-naep-type-container{
      background-color: white;
      position: absolute;
      display: flex;
      bottom: 0 !important;
      width: 100%;
      height: 64px;
      padding: 10px 32px;
      text-align: center;
      border-top: solid 1px #707070;
      button{
          width: 130px;
          height: 40px;
          border-radius: 5px;
          text-align: center;
      }
      .btn-back{
          // background-color: red;
          button{
              border: solid 1px #7DA863;
              color: #7DA863;
          }
      }
      .btn-save{
          // background-color: green;
          button{
              background-color: #7DA863;
              color: white;
          }
          .btn-disabled{
              background-color: grey;
              pointer-events: none;
          }
          .btn-delete{
            background-color: #DE3535 ;
            margin-right: 20px;
          }
      }

    }

}

@import '~bootstrap/dist/css/bootstrap.min.css';
